extends header.pug

block content
  .container
    h1 some 1
    .card(style='width: 18rem;')
      img.card-img-top(src='https://model-car.ru/upload/iblock/75e/75efaa0d159d1e2a32144c77c58370e7.jpg', alt='...')
      .card-body
        h5.card-title Mitsubishi Lancer RS Evo VI 1998 White
        p.card-text
          | 4 500 руб
        a.btn.btn-primary(href='#') В корзину
